
body {background-image: url("white-background.jpeg");}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 174, 184);
    border: 2px solid  rgb(117, 182, 190);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #6cbfa0;
  }


  
h1 {
    color: rgb(137, 198, 211);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    }

h2 {
    color: rgb(137, 194, 206);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40;
    line-height: 50px;
    text-align: center;
    border: 2px solid  rgb(91, 164, 176);
    }

.quote1 {
    color: rgb(91, 164, 176);
    font-family: fantasy;
    font-size: 25px;
    text-align: center;
    
    }


.imagies1 {
    text-align: justify ;
}

.imagies1  img {
    display: inline-block;
    width: 33%;
    height: 30%;
    }
.imagies1 :after {
    content: '';
    display: inline-block;
    width: 100%;
}

.imagies2 {
    text-align: justify;
}

.imagies2  img {
    display: inline-block;
    width: 24.7%;
    height: 30%;
    }
.imagies2 :after {
    content: '';
    display: inline-block;
    width: 100%;
}

.quote2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: rgb(1, 134, 134);
  text-align: center;
}
.copyright {
  color: black;
  font-size: 15px;


}

/* Portfolio */


html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}


.slide {
  position: relative;
  padding: 25% 10%;
  min-height: 100%;
  width: 80%;
  box-sizing: border-box;
  
	transform-style: inherit;
}
.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}
.slide, .slide:before {
  background: 50% 50% / cover;  
}
#intro {
  background-image: url("white-background.jpeg");
  z-index:2;
}
#slide1:before {
  background-image: url("manchester1.jpg");
  transform: translateZ(-1px) scale(2);
}
#slide2 {
  background-image: url("shoe.jpg");
  z-index:2;
}
#slide3:before {
  background-image: url("church.jpg");
  transform: translateZ(-1px) scale(2);
}
#slide4 {
  background-image: url("tomyumkung.jpeg");
  z-index:2;
}
#slide5:before {
  background-image: url("scotland.jpeg");
  transform: translateZ(-1px) scale(2);
}
#slide6 {
  background-image: url("squiral.jpeg");
  z-index:2;
}

.comment {
    width: 100%;
    height: 100px;
    color: black;
    font-size: 17px;
    padding: 10px;
    background-color: #85c5c5;
}


/* social page */


body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
} 

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}


/* social page */

.about {
  color: rgb(137, 194, 206);
  font-family: cursive;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  border: 2px solid  rgb(91, 164, 176);
  width: 70%;
  margin: auto;
  background-color: white;
  }
